[submodule "external/mathnet-numerics"]
	path = external/mathnet-numerics
	url = https://github.com/mathnet/mathnet-numerics.git
[submodule "external/ZedGraph"]
	path = external/ZedGraph
	url = https://github.com/ZedGraph/ZedGraph.git
[submodule "modules/IGLibCore"]
	path = modules/IGLibCore
	url = https://gitlab.com/ajgorhoe/iglib.modules.iglibcore.git
[submodule "modules/IGLibEventAggregator"]
	path = modules/IGLibEventAggregator
	url = https://gitlab.com/ajgorhoe/IGLib.misc.EventAggregator.git
