<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- General settings - applied to global reporters and when <ReporterObject>.ReadAppSettings()
    is called without arguments: -->
    <!-- Remark: ths block should contain most of the settings that are confugurable in the ReporterMsg module. -->
    <add key="ReporterMsg_LevelOn" value="Error"/>  <!-- specifies the minimal level for reporting, logging and tracing altogether -->
    <add key="ReporterMsg_LevelOff" value="Info"/>  <!-- specifies that the maximal level for reporting, logging and tracing altogether is below the specified level -->
    <add key="ReporterMsg_ReportingLevel" value="Warning"/>  <!-- level of reporting -->
    <add key="ReporterMsg_LoggingLevel" value="Info"/>  <!-- level of logging -->
    <add key="ReporterMsg_TracingLevel" value="Off"/>  <!-- level of tracing -->
    
    <add key="ReporterMsg_UseTextWriter" value="False"/>  <!-- specifies whether or not the TextWriter is used in reporting -->
    <add key="ReporterMsg_UseTextLogger" value="False"/>  <!-- specifies whether or not the TextLogger is used in reporting -->
    <add key="ReporterMsg_UseTrace" value="False"/>  <!-- specifies whether or not Trace is used in reporting -->
    <add key="ReporterMsg_UseConsole" value="False"/>  <!-- specifies whether or not console is used in reporting -->
    <add key="ReporterMsg_UseMessageBox" value="Off"/>  <!-- specifies whether or not message boxes are used in reporting -->
    <add key="ReporterMsg_UseSpeech" value="N"/>  <!-- specifies whether or not speech is used in reporting -->
    
    <add key="ReporterMsg_TextWriterAppend" value="false"/>  <!-- specifies whether append mode is used for text writer files open via 
            configuration settings (this is not valid for files installed by function calls like AddTextWriter()) -->
    <add key="ReporterMsg_TextWriterFile" value=""/>  <!-- specifies the output file that is installed on the text writer when
            configuration is read -->
    <add key="ReporterMsg_TextWriterFile1" value="..\..\files\TWFromSettings1"/>  <!-- specifies an output file that is added to the text writer when
            configuration is read -->
    <add key="ReporterMsg_TextWriterWriteIntro" value="true"/>  <!-- specifies whether introductory text is written to text writers when they are set -->
    <add key="ReporterMsg_TextWriterProgramName" value="ReportMsg_Examples"/>  <!-- specifies the program name used in text writers' introductory text -->
    <add key="ReporterMsg_TextWriterIntroText" value=""/>  <!-- specifies textwriters' introductory text as a whole -->
    
    <add key="ReporterMsg_TextLoggerAppend" value="FALSE"/>  <!-- specifies whether append mode is used for text logger files open via 
            configuration settings (this is not valid for files installed by function calls like AddTextLogger()) -->
    <add key="ReporterMsg_TextLoggerFile" value=""/>  <!-- specifies the output file that is installed on the text logger when
            configuration is read (no output will be written if this is an empty string) -->
    <add key="ReporterMsg_TextLoggerFile1" value=""/>  <!-- specifies an output file that is added to the text logger when
            configuration is read (no output will be written if this is an empty string) -->
    <add key="ReporterMsg_TextLoggerWriteIntro" value="truE"/>  <!-- specifies whether introductory text is written to text loggers when they are set -->
    <add key="ReporterMsg_TextLoggerProgramName" value="ReportMsg_Examples"/>  <!-- specifies the program name used in text loggers' introductory text -->
    <add key="ReporterMsg_TextLoggerIntroText" value=""/>  <!-- specifies text loggers' introductory text as a whole -->
    <add key="ReporterMsg_TextLoggerIndentInitial" value="5"/>  <!-- specifies text loggers' initial (zero depth) indentation -->
    <add key="ReporterMsg_TextLoggerIndentSpacing" value="2"/>  <!-- specifies text loggers' number of characters used in indentation -->
    <add key="ReporterMsg_TextLoggerIndentCharacter" value="."/>  <!-- specifies text loggers' indentation character -->
    
    <add key="ReporterMsg_AppSettingsWarnings" value="true"/>  <!-- specifies whether warnings are launched when attempting to read
                the same group of settings several times for a given reporter -->

    
    <!-- Global reporter settings - applied to global reporters and when 
    <ReporterObject>.ReadAppSettings("Global") is called: -->
    <!-- Thes settings will override some settings stated before as general reporter settings, since when 
    a global reporter is initialized, settings from the "Global" group are read after the general settings. -->
    <add key="ReporterMsg_Global_UseConsole" value="true"/>  <!-- Reporting to a console will be used. -->
    <add key="ReporterMsg_Global_UseMessageBox" value="true"/>  <!-- Reporting to a message box will be used. -->
    
    
    <!-- Settings of the named group FirstGroup - applied to all global reporters and when 
    <ReporterObject>.ReadAppSettings("FirstGroup") is called without arguments: -->
    <add key="ReporterMsg_FirstGroup_UseMessageBox" value="false"/>  <!-- message boxes will not be launched by this group (unless overridden dynamically) -->
    <add key="ReporterMsg_FirstGroup_UseTextLogger" value="true"/>  <!-- text logger will be used -->
    <add key="ReporterMsg_FirstGroup_TextLoggerFile" value="..\..\files\TLFromSettings"/>  <!-- define a text logger file -->
    <add key="ReporterMsg_FirstGroup_TextLoggerFile1" value="..\..\files\TLFromSettings1"/>  <!-- define an additional text logger file -->
    <add key="ReporterMsg_FirstGroup_TextWriterFile" value="..\..\files\TWFromSettings"/>  <!-- define a text writer file -->
    <add key="ReporterMsg_FirstGroup_TextWriterFile1" value="..\..\files\TWFromSettings1"/>  <!-- define an additional text writer file -->
    
    
    <!-- Settings of the named group SecondGroup - applied to all global reporters and when 
    <ReporterObject>.ReadAppSettings("SecondGroup") is called without arguments: -->
    <add key="ReporterMsg_SecondGroup_UseTextWriter" value="YES"/>  <!-- text writer is used -->
    <add key="ReporterMsg_SecondGroup_UseSpeech" value="on"/>  <!-- text writer is used -->
    <add key="ReporterMsg_SecondGroup_" value=""/>  <!-- specifies the character for leading spaces (indentation) -->
    <add key="ReporterMsg_SecondGroup_TextLoggerIndentInitial" value="3"/>  <!-- specifies initial (depth 0) indentation -->
    <add key="ReporterMsg_SecondGroup_TextLoggerIndentCharacter" value="*"/>  <!-- specifies the character used for leading spaces -->

    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
